.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-container {
  position: relative;
  width: 100%;
  height: 760px;
  margin-bottom: 30px;
}

.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px; /* Määritä sopiva korkeus tälle blur-alueelle */
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0)); /* Musta väri feidaantuu läpinäkyväksi */
  
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Varmistaa, että kuva täyttää alueen oikein */
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cv-button {
  width: 125px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: rgb(0, 104, 215);
  color: black !important;
  text-decoration: none;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 28px;
  line-height: 30px;
  font-weight: bold;
  vertical-align: -2px;
}

.click-button{
  width: 75px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: rgb(0, 104, 215);
  color: black !important;
  text-decoration: none;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 28px;
  line-height: 30px;
  font-weight: bold;
  vertical-align: 3px;
  border: none;
}

.text-overlay h1 {
  color: white;
  font-size: 50px;
  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  margin: 15px 0;
  font-style: inherit;
}

.text-overlay h2 {
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  font-style: inherit;
}

.whoami-section {
  padding: 30px;
  font-style: inherit;
  max-width: 800px;
  margin: 0 auto;
  border-style:hidden;
  color: white;
  font-size: 25px;
  margin-bottom: 0px;
}

.socials a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 25px;
  object-fit: cover;
  display: inline-table;
}

.socials {
  margin-top: 45px;
}

.red-question {
  color: rgb(0, 104, 215);
  text-decoration: none;
}

.social-icon {
  padding: 3px;
  border-radius: 5px;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 104, 215);
}

.socials img {
  width: 25px; 
  border-radius: 5px;
  background-color: rgb(0, 104, 215);
  text-decoration: none; 
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.projects-section {
  padding: 15px;
  font-style: inherit;
  max-width: 800px;
  margin: 0 auto;
  border-style:hidden;
  color: white;
  font-size: 25px;
  margin-top: 5px;
}


.project-text {
  margin-right: 10px;
  vertical-align: -3px;
}

.irl-list {
  margin-top: 0;
  padding-top: 0;
} 

.irl-list a{
  font-size: 15px;
  vertical-align: 5px;
}

.Reach-me {
  padding: 0px;
  font-style: inherit;
  max-width: 800px;
  margin: 0 auto;
  border-style:hidden;
  color: white;
  font-size: 25px;
  margin-top: 5px;
}


.footer {
  margin-top: 100px;
  font-size: 25px;
  font-style: italic;
}

.stickman {
  position: relative;
  width: 100px; height: 150px;
  bottom: 0px;
  left: 120%;
  transform: translateX(-50%);
  margin-top: -50px;
}

.head {
  position: absolute;
  width: 30px; height: 30px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0 auto;
  bottom: 115px;
  left: 35px;
}

.body {
  position: absolute;
  width: 8px; height: 60px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  bottom: 50px;
  left: 46px;
}

.arm-left, .arm-right{
  position: absolute;
  width: 8px; height: 40px;
  background: rgb(255, 255, 255);
  bottom: 65px;
}

.leg-left, .leg-right{
  position: absolute;
  width: 8px; height: 50px;
  background: rgb(255, 255, 255);
  bottom: 0px;
}

.juggle-area {
  position: relative;
  width: 100px;
  height: 100px; /* tarpeeksi korkeutta kaarelle */
}

.arm-left { left: 38px; transform: rotate(30deg); transform-origin: top center; }
.arm-right { right: 38px; transform: rotate(-30deg); transform-origin: top center; }
.leg-left { bottom: 0; left: 38px; transform: rotate(15deg); transform-origin: top center; }
.leg-right { bottom: 0; right: 38px; transform: rotate(-15deg); transform-origin: top center; }

.ball {
  position: absolute;
  top: 65px;
  left: 15px;
  width: 20px; height: 20px;
  background: #c54444;
  border-radius: 50%;
  transform-origin: 10px 0px;
  animation: throw 2s ease-in-out infinite;
}

.ball1 {
  animation-delay: 0s;
}
.ball2 {
  animation-delay: 0.5s;
}
.ball3 {
  animation-delay: 1s;
}
.ball4 {
  animation-delay: 1.5s;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* border reveal for debugging 
* {
  outline: 1px solid rgb(68, 224, 255);
}
*/


@keyframes throw {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(27px, -150px); /* nousee ylös ja oikealle */
  }
  66% {
    transform: translate(55px, 0);      /* laskeutuu oikealle */
  }
  100% {
    transform: translate(0, 0);         /* palaa alkuun */
  }
}

@keyframes juggle {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

